.glav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #7A3734;
  width: 100%;
  height: 150px;
  position: fixed;z-index: 10;top: 0;
}
.body {
  background-image: url(i.webp);margin: 0 auto;display: flex;justify-content
  : center;}

.text1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(240, 144, 144);

  width: 25%;
  height: 75px;
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: black;
  transition: all 0.3s;
  font-size: 2vw;
  text-decoration: none;
}

.text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color:  rgb(240, 144, 144);
  

  width: 25%;
  height: 75px;
  transition: all 1s;
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: black;
  transition: all 0.3s;
  font-size: 2vw;
  text-decoration: none;
}
.text2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(240, 144, 144);
  
  width: 25%;
  height: 75px;
  transition: all 1s;
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: black;
  transition: all 0.3s;
  font-size: 2vw;
  text-decoration: none;
}
.text:hover {
  background-color: whitesmoke;
  transform: scale(1.1);
}
.text1:hover {
  background-color: whitesmoke;
  transform: scale(1.1);
}
.text2:hover {
  background-color: whitesmoke;
  transform: scale(1.1);
}

.setka {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 180px);
  grid-template-areas:
    "a1 a1 a2 a3"
    "a4 a5 a2 a6"
    "a4 a7 a7 a8";
}
@media (max-width: 600px) {
  .setka {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 180px);
    grid-template-areas:
      "a1 a1 "
      "a2 a5 "
      "a3 a6 "
      "a4 a4 "
      "a7 a8";
  }
}

.setka div {
  border: solid 1px black;
}
.a1 {
  grid-area: a1;
  width: 100%;
  height: 100%;
}
.a2 {
  grid-area: a2;
  width: 100%;
  height: 100%;
}
.a3 {
  grid-area: a3;
  width: 100%;
  height: 100%;
}
.a4 {
  grid-area: a4;
  width: 100%;
  height: 100%;
}
.a5 {
  grid-area: a5;
  width: 100%;
  height: 100%;
}
.a6 {
  grid-area: a6;
  width: 100%;
  height: 100%;
}
.a7 {
  grid-area: a7;
  width: 100%;
  height: 100%;
}
.a8 {
  grid-area: a8;
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
}

.txt {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3vw;text-shadow: 5px 5px 2px 2px;
}
.txt1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 1vw;
  width: 95%;
  margin: 0 auto;
}
.b1{margin-top:150px ;background-color: #FF746C 
    ;width: 80%;height: 10000px;}